html {
  background-color:#dbd6cf;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body{
  background-color: #595652;
  color: #dbd6cf;
}

h1{
  h1 {
  font-family: 'Bevan', cursive;
  background-color: #595652;
}

.Planets {
  display: block;
  margin:0.3em;
  padding:0.6em;
  list-style-type: square;
  text-align: center;
  background-color: #79756f;
}

.Planets li {
  display: inline-block;
  list-style-type: square;
  background-color:#713837;
  color: #dbd6cf;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 10px;
}

.Planets box-1 {
  margin-bottom: 0.5rem;
}

.Planets box-2 {
  display: inline-block;
  width: 6em;
  font-style: italic;
}

.Planets box-3 {
  display: inline-block;
  margin: 0.3em;
  min-width: 6em;
}

.Planets box-4 {
  display: inline-block;
  margin: 0.3em;
  min-width: 6em;
}

.Planets div {
  text-align: center;
}

.Planets a:hover {
  background-color: #dbd6cf;
  color: #fff;
}
