html {
  box-sizing: border-box;
  background-color:#dbd6cf;
  font-family: "Bevan";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #595652;
  color: #dbd6cf;
  margin: 0;
}

h1 {
  font-family: "Bevan";
  text-align: center;
}

.nav {
  display: block;
  margin:0.3em;
  padding:.6em 0.5em 0.75em;
  list-style-type: square;
  text-align: center;
  background-color: #79756f;
}

.nav li {
  display: inline-block;
  text-align: center;
  list-style-type: square;
  background-color:#713837;
  padding: .6em 0.5em 0.75em;
  margin: 0 auto 0.3em;
  border-radius: 7px;
}

.nav a {
  color: #fff;
  padding: .6em 0.5em 0.75em;
  margin: 0 auto 0.3em;
  border-radius: 7px;
}

.nav div {
  text-align: center;
  padding: .6em 0.5em 0.75em;
  margin: 0.3em;
  border-radius: 10px;
}

.nav a:hover {
  background-color: #f33;
  color: #dbd6cf;
}

.nav li {
  display: inline-block;
}
