html {
  background-color:#dbd6cf;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-color: #595652;
  color: #dbd6cf;
}

h1 {
  font-family: 'Bevan', cursive;
  background-color: #595652;
  color: #dbd6cf;
  display: block;
  padding: .6em;
  margin: 0.3em;
  border: 10px solid #f33;
}

.box-1 {
  display: inline-block;
  list-style-type: square;
  background-color:#713837;
  color: #dbd6cf;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 10px;
}

.box-2 {
  display: inline-block;
  background-color:#713837;
  color: #dbd6cf;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 10px;

}

.box-3 {
  display: inline-block;
  background-color:#713837;
  color: #dbd6cf;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 10px;
}

.box-4 {
  display: inline-block;
  background-color:#713837;
  color: #dbd6cf;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 10px;
}

.box-wrap {
  background-color: #595652;
  color: #79756f;
  margin-top: 5px;
}

a {
  text-decoration: none;
}
